.main_container {
  margin: 0 auto;
  width: 950px;
  height: 100%;
}

.hide,
.followed {
  display: none !important;
}

i {
  font-size: 24px;
  cursor: pointer;
}

i:hover {
  color: $story-color;
}

i:active {
  color: $story-color-active;
}

@media screen and (max-width: 1000px) {
  .main_container {
    width: 600px;
  }
}
