$very-light-grey: #f9f9f9;
$light-grey: #aaa;
$grey: #777;
$dark-grey: #333;

$content-border: 1px solid #e3e3e3;

$act-color: #50b9ff;

$story-color: #da3383;

$story-gradient: linear-gradient(
  120deg,
  rgba(218, 51, 131, 1) 30%,
  rgba(255, 166, 0, 1) 100%
);

$hash-tags: #005e75;
